{% extends 'layout.html' %}
<!-- Página de listar usuários -->

<!-- Links -->
{% block navbar %}
<h2><a href="{{url_for('index')}}">Home</a></h2>
<h2><a href="{{url_for('create_user')}}">Add Users</a></h2>
<h2><a href=#></a>Listar Users</h2>
{% endblock %}

{% block conteudo %}

<!-- Lista de usuários -->
<ul>
    <!-- For do python utilizado por meio do jinja -->
    {% for user in users %}
    <!-- Dicionários user (Passado no app.py) pegando o valor do 'nome' -->
    <li>Nome: {{user['nome']}}</li>
    {% endfor %}
</ul>
    
{% endblock %}
