<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <h2>Lista de Usuários Cadastrados</h2><br>
    <ul>
        {% for usuario in usuarios %}
            <li>ID: {{ usuario.id }}, Nome: {{ usuario.nome }}, Email: {{ usuario.email }}</li>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('login') }}">Voltar para o login</a></p>
</body>
</html>
